## Loops

In [13]:
# Create list of numbers
list_of_values = [1, 2, 3, 4, 5]

# Print each object separately
list_of_values

[1, 2, 3, 4, 5]

In [15]:
# Cycle through each number and print separately
for avalue in list_of_values:
    print(avalue)
    break

1

In [16]:
# Cycle through each number and print with text
for avalue in list_of_values:
    print("the current value is:", avalue)

the current value is: 1
the current value is: 2
the current value is: 3
the current value is: 4
the current value is: 5

In [21]:
# Create new list of integers
num_list = [12, 5, 136, 47]

# For each item in list, add 10 and print new value
for i in num_list:
    n = i + 10
    print(n)


# What if we don't call "print"?
# What if we add a "break"?
# What if we change what "i" is called?
# Look at current "i" and "n" object values

22
15
146
57

In [ ]:
# But each output value is listed separately. What if we want them 
# all to be in the same object (such as a list)?

# Create empty list to store output
new_list = []

# Create loop & append (add) output to the list
for i in num_list:
    new_list.append(i + 10)

new_list

[22, 15, 146, 57]

In [ ]:
import numpy as np

data = np.array([[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]])

In [27]:
# For each item in list, add 10 and print new value
for i in data[0]:
    n = i + 10
    print(n)

11
12
13

## Functions

In [ ]:
# Function structure
def function_name(parameter):
    some code here    
    return output

In [ ]:
# Convert input from mm to inches
def mm_to_in(mm):    
    inches = mm / 25.4
    return(inches)    


# Test function
mm_to_in(mm = 30)

# What if we forget to add the return?
# Don't need the "mm =" when use function

1.1811023622047245

In [32]:
# Add docstring to explain what function does
def mm_to_in(mm):
    """Convert input from millimeters to inches. 
    
    Parameters
    ----------
    mm : int or float
        Numeric value with units in millimeters.
    
    Returns
    ------
    output : int float
        Numeric value with units in inches.
    """
    inches = mm / 25.4    
    return inches

# Docstring appears in "help" command for function
help(mm_to_in)

Help on function mm_to_in in module __main__:

mm_to_in(mm)
    Convert input from millimeters to inches.

    Parameters
    ----------
    mm : int or float
        Numeric value with units in millimeters.

    Returns
    ------
    output : int float
        Numeric value with units in inches.

In [ ]:
# Can apply function to an numpy array 

# Import numpy
import numpy as np

# Average monthly precip (mm) for Boulder, CO
avg_monthly_precip_mm = np.array([17.78, 19.05, 46.99, 74.422, 77.47, 51.308, 49.022, 41.148, 46.736, 33.274, 35.306, 21.336])

# Convert to inches
avg_monthly_precip_in = mm_to_in(mm = avg_monthly_precip_mm)

avg_monthly_precip_in

array([0.7 , 0.75, 1.85, 2.93, 3.05, 2.02, 1.93, 1.62, 1.84, 1.31, 1.39,
       0.84])

In [36]:
# Can have more than 1 input parameter for function

def multiply_values(x,y):
    z = x * y
    return z

In [39]:
multiply_values(2, 3)

6

In [40]:
# Function to calculate volume of pyramid
# V = (1⁄3) × B × h

def pyramid_volume(base_area, height):
    """
    Calculates the volume of a pyramid.

    Parameters:
        base_area (float): The area of the pyramid's base.
        height (float): The height of the pyramid.

    Returns:
        float: The volume of the pyramid.
    """
    volume = (1/3) * base_area * height
    return volume


# Test function
pyramid_volume(10,15)

49.99999999999999

## Combine Loops & Functions

In [45]:
# Example of a function contained within a loop

# First define function
def calculate_square(number):
    """
    Returns the square of a number.
    """
    n = number **2
    return n

# Create list of numbers as our trial "dataset"
numbers_list = [1, 2, 3, 4, 5]

# Create empty list to collect output
squared_numbers_list = []

for i in numbers_list:
    square_num = calculate_square(i)
    #print(square_num)
    squared_numbers_list.append(square_num)

# square_num is an intermediate/placeholder variable- changes with each loop iteration

# Call object to see output list
squared_numbers_list

[1, 4, 9, 16, 25]